* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}
h4 {
    color: #10102E;
    font-size: 40px;
    padding: 10%;
    text-align: center;
    font-family: didot;
}
body {
  background-color: transparent;
  font-size: 16px;
  color: white;
  margin: 0
}
.projects-section {
  background-image: url('/Imagenes/fondo3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
}

/*CONTACTO*/

.formulario {
  width: 350px;
  margin: 0 auto;
  padding: 30px;
  border: 4px solid #efb810;
  background-color: #fff; 
}
.campo {
  margin-bottom: 30px;
}
label {
  color: #222;
  font-family: didot;
}
.campo label {
  display: block;
  margin-bottom: 5px;
}

.campo input {
  width: 100%;
  padding: 8px;
  border: 2px solid #efb810;
  border-radius: 5px;
  background-color: transparent; 
  color: #333;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 8px;
  border: 2px solid #efb810;
  border-radius: 5px;
  background-color: transparent; 
  color: #333;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #efb810;
  border-radius: 5px;
  background-color: #efb810; 
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #d9a200;
}
iframe {
  float: none;
  width: 100%;
  height: 400px;
  padding: 20px;
}
/*contacto end*/

.parallax {
  position: fixed;
  top: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

nav, .navlinks-container {
  transition: 0.5s;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.nav-logo {
  display: block;
  width: 135px;
  margin: 20px 0 20px 0;
}

.nav-logo img {
  display: block;
  width: 100%;
}

.backdrop-transitioning {
  backdrop-filter: none;
}

.navlinks-container {
  position: absolute;
  background-color: white;
  font-size: 2rem;
  width: 90%;
  height: 90%;
}

.navlinks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75%;
}

.nav-transitioning {
  transform: translateY(-100vh);
}

.hidden {
  display: none;
  position: absolute;
}

.menu-toggle, .menu-close {
  position: absolute;
}

.menu-toggle {
  top: 30px;
  right: 5%;
  font-size: 30px;
}

.menu-close {
  top: calc(5vh + 25px);
  right: calc(5vw + 5%);
  font-size: 30px;
}

a {
  text-decoration: none;
  color: black;
  transition: box-shadow 0.3s;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: white;
}

.logo {
  width: 50%;
  max-width: 250px;
  margin: auto
}

.logo img {
  display: block;
  width: 100%;
}
/* nosotros*/
.project-us > p {
  color: #222;
  font-size: 20px;
  padding: 30px;
  font-family: system-ui;
}
.project-us > img {
  width: 100%;
  height: auto;
  padding: 10px;
}
.us {
  color: #222;
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
  
}
.section-us {
  background-image: url('/Imagenes/fondo3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
}
/* Start categoria de productos */

.tarjeta {
  width: 300px;
  height: auto;
  overflow: hidden;
  margin: 40px ;
  display: inline-block;
}
.logos1 {
  width: 300px;
  height: auto;
  overflow: hidden;
  margin: 40px ;
  display: inline-block;
}
.logos1 img {
  width: 100%;
  height: auto;
}
.tarjeta {
  background-color: #fff;
  box-shadow: 0 0 10px #7f7f7f8f;
  padding: 5px;
}
.textimg, .titulo {
  color: #222;
  padding: 10px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.textimg {
  font-size: 20px;
}
.subtitles {
  color: #222;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
}
.tarjeta img {
  width: 100%;
  height: auto;
  
}
.contenido, .order {
  padding: 10px;
  background-color: #efb810;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.diseños {
  color: #222;
  font-size: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.contenido {
  background-color: #efb810 ;  
}
.contenido:hover {
  background-color: #5a3900;
}
.order:hover {
  background-color: #5a3900;
}
.price {
  color: #222;
  margin-top: 20px;
}
.order, .price{
   display: inline-block;
   align-items: center;
   padding: 15px;
}

.project-title, .project-description {
  margin: 0;
  color: white;
  font-size: 30px;
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
}
.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 20px;
}

/* Start section footer */

.logo-footer {
    width: 200px;
    margin-left: 100px;
    position: relative;
}
.content-section{
 background-color: #222;

 
}
.contact-link {
  font-size: 2.4rem;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
}
.btn .contact-details {
  color: #222;
  
}
.contact-details {
  margin-left: 30px;
}
.pagos {
  font-size: 15px;
  justify-content: center;
  text-align: center;
  font-family:didot;
  line-height: 2.5;
}
.pagos > i {
  font-size: 30px;
  margin-left: 10px;
}
#contactnav {
    text-align: center;
}
h2 {
  font-family: didot;
  text-align: center;
  color: white;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-info, li {
  color: white;
  font-size: 20px;
  font-family: didot;  
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  
}
.contact-info > h2 {
  font-size: 15px;
  font-family: didot;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: 200;
}
footer {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
}
#end{
  background-color: #efb810;

}
.horse {
  font-family: didot;
  color: #222;
  font-size: 20px;
  margin-inline-end: auto;
  margin-left: 20px;
}

/* End section footer */


h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 50px;
  color: #10102E;
  border-bottom: 5px solid #E7DD11;
  width: 300px; 
  margin: auto;
  padding-bottom: 40px; 
  margin-bottom: 10px;
}

footer, section {
  background-color: white;
}

.navlinks li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.categories {
  position: relative;
  background-color: #5726004d;
}

.carousel {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.arrow-left, .arrow-right {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: white;
  height: 100%;
  z-index: 2;
}

.arrow-left {
  left: 2.5%;
}

.arrow-right {
  right: 2.5%;
}

.carousel-frame {
  display: flex;
  width: 300%;
}

.carousel-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: calc(100% / 3);
  min-height: 500px;
  padding: 20px 5%;
  scroll-snap-align: start;
}

.carousel-element img {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.carousel-element-info {
  text-align: center;
  font-family: didot;
}

.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  animation: vibrate 2s;
}
@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.whatsapp-btn {
  width: 50px;
  height: 130px;
  border-radius: 50%;
  font-size: 60px;
}
/* incio de galerias en lo sets */

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/Imagenes/fondo\ petos.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
}

.main-image {
  margin-bottom: 20px;
}

.main-image img {
  max-width: 100%;
  max-height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  padding: 5px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.thumbnails img {
  width: 100px; 
  margin: 5px;
  cursor: pointer;
}

/* Start of media queries */
@media only screen and (width >= 1024px) {
  h1 {
    padding: 35px 0;
  }
  h1 {
    font-family: didot;
    text-align: center;
    font-size: 50px;
    border-bottom: 5px solid #E7DD11;
    width: 800px; 
    margin: auto;
    padding-bottom: 40px; 
    margin-bottom: 10px;
  }

  nav, .backdrop-transitioning {
    justify-content: flex-end;
    background-color: white;
    backdrop-filter: none;
    width: 100%;
    height: 150px;
  }

  header {
    display: none;
  }
  
  .navlinks{
    justify-content: space-evenly;
    flex-direction: row;
    letter-spacing: 2px;
    font-size: 1.5rem;
    height: 100%;
  }
  .nav, li {
    margin-right: 70px;
  }
  .nav-transitioning {
    transform: none;
  }
  .hidden {
    position: static;
    display: flex;
  }
  
  .menu-toggle, .menu-close {
    display: none;
  }
  .navlinks-container {
    justify-content: flex-end;
    background-color: transparent;
  }

  .logo {
    height: 10px;
    aspect-ratio: 1;
    margin-left: 30px;
    display: flex;
  }

  .nav-logo {
    margin-top: 0;
    margin-right: auto;
  }

  .carousel {
    overflow-x: hidden;
    
  }

  .carousel-frame {
    transition: 0.3s;
  }

  .carousel-element {
    flex-direction: row;
  }

  .carousel-element img {
    display: block;
    width: 30%;
    margin: 0 auto;
  }
  .carousel-element-info {
    font-size: 20px;
  }

  .carr-pos-1 {
    transform: translateX(0);
  }

  .carr-pos-2 {
    transform: translateX(calc(-100% * 1 / 3));
  }

  .carr-pos-3 {
    transform: translateX(calc(-100% * 2 / 3));
  }
   /* Categoria de productos*/
   .tarjeta {
    width: 250px;
    height: auto;
    overflow: hidden;
    margin: 40px ;
    display: inline-block;
  }
  .tarjeta img {
    width: 100%;
    height: auto;
  }
  .content-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    margin: 0 auto; 
  }
  .contenido {
    padding: 10px;
  }
  .project-title, .project-description {
    margin: 0;
    color: white;
    font-size: 20px;
  }
  .textimg, .titulo {
    padding: 10px;
    font-weight: bold;
  }
  .textimg {
    font-size: 15px;
  }
  .subtitles {
    font-size: 15px;
    padding: 10px;
  }
  .content-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
  }
  .logos1 {
    width: 165px;
    height: auto;
    overflow: hidden;
    margin: 40px ;
    display: inline-block;
  }
  .logos1 img {
    width: 100%;
    height: auto;
  }
  .video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 20px;
  }
  /*footer*/
  .logo-footer {
    width: 300px;
    margin-left: 100px;
  }
  .content-section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: start;
    
  }
  .grid {
   
  }
  .contact-link {
  font-size: 3rem;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 100px;
  }
  .horse {
    font-family: didot;
    color: #222;
    font-size: 20px;
    margin-inline-end: auto;
    margin-left: 80px;
  }
 
  /*CONTACTO*/
  .contenedor1 {
    display: flex;
    justify-content: space-between;
  }
  .contenedor1 {
    background-image: url('/Imagenes/fondo3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
  }
  
  .form1 {
    flex: 1;
  }
  
  .mapa, .formulario {
    margin-top: 0px; 
    margin-bottom: 30px;
  }
  .formulario {
    width: 500px;
  }
  .mapa {
   margin-top: 0px;
   width: 800px;
  }  
  .whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .whatsapp-btn {
    width: 60px;
    height: 150px;
    border-radius: 50%;
    font-size: 70px;
  }
   /* nosotros*/

   .project-us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
  }
   img.imagesblock {
    width: 500px;
    margin: 10px;
    border-radius: 70px;
    box-shadow: #333;
   }
   .project-us > p {
    font-size: 25px;
    text-align: justify;
  }
  .texto1 {
    margin-inline: 50px;
  }
  .project-us > p::first-letter {
    font-size: 2em;
    color: rgb(218, 169, 35);
  }
}